.vs/
Source/Web/internal_logs/internallog.txt
Source/Core/Contracts/bin/
Source/Core/Contracts/obj/
Source/Core/Entities/bin/
Source/Core/Entities/obj/
Source/Core/LoggerService/bin/
Source/Core/LoggerService/obj/
Source/Core/Service.Contracts/bin/
Source/Core/Service.Contracts/obj/
Source/Core/Services/bin/
Source/Core/Services/obj/
Source/Core/Shared/bin/
Source/Core/Shared/obj/
Source/Infrastructure/Persistence/bin/
Source/Infrastructure/Persistence/obj/
Source/Presentation/SampleDemo.Presentation/bin/
Source/Presentation/SampleDemo.Presentation/obj/
Source/Web/bin/
Source/Web/obj/
